<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.SysPartnerMenuDao">

    <select id="get" resultType="SysPartnerMenu">
        select b.id,b.partner_id,b.menu_id,
        from sys_partner_menu b
        where b.id =#{id}
    </select>

    <select id="getAll" resultType="SysPartnerMenu">
        select b.id,b.partner_id,b.menu_id
        from sys_partner_menu b
        <where>
            <if test="id != null  and id != '' ">
                and b.id= #{id}
            </if>
            <if test="partnerId != null  and partnerId != '' ">
                and b.partner_id= #{partnerId}
            </if>
            <if test="menuId != null  and menuId != '' ">
                and b.menu_id= #{menuId}
            </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <select id="getAllByPage" resultType="SysPartnerMenu">
        select b.id,b.partner_id,b.menu_id,
        from sys_partner_menu b
        <where>
          <if test="id != null  and id != '' ">
              and b.id= #{id}
          </if>
          <if test="partnerId != null  and partnerId != '' ">
              and b.partner_id= #{partnerId}
          </if>
          <if test="menuId != null  and menuId != '' ">
              and b.menu_id= #{menuId}
          </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <insert id="insert" parameterType="SysPartnerMenu">
        INSERT INTO sys_partner_menu (id,partner_id,menu_id,)
        VALUES (#{id},#{partnerId},#{menuId},);
    </insert>

    <update id="update" parameterType="SysPartnerMenu">
        update sys_partner_menu
        <set>
            <if test="id != null  and id != '' ">
                id= #{id},
            </if>
            <if test="partnerId != null  and partnerId != '' ">
                partner_id= #{partnerId},
            </if>
            <if test="menuId != null  and menuId != '' ">
                menu_id= #{menuId},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user=#{updateUser},
            </if>
            update_date=NOW()
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from sys_partner_menu where id=#{id}
    </delete>

    <delete id="deleteByPartnerId" parameterType="java.lang.String">
        delete from sys_partner_menu where partner_id=#{partnerId}
    </delete>

    <insert id="insertFast" parameterType="SysPartnerMenu">
        <if test="sysPartnerMenuList != null and sysPartnerMenuList.size() > 0">
            insert into sys_partner_menu
            (id, partner_id, menu_id)
            values
            <foreach collection="sysPartnerMenuList" item="item" index="index" separator=",">
                (#{item.id}, #{item.partnerId}, #{item.menuId})
            </foreach>
        </if>
    </insert>

</mapper>
