<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.SysRoleMenuDao">

    <select id="get" resultType="SysRoleMenu">
        select b.id,b.role_id,b.menu_id
        from sys_role_menu b
        where b.id =#{id}
    </select>

    <select id="getAll" resultType="SysRoleMenu">
        select b.id,b.role_id,b.menu_id
        from sys_role_menu b
        <where>
          <if test="id != null  and id != '' ">
              and b.id= #{id}
          </if>
          <if test="roleId != null  and roleId != '' ">
              and b.role_id= #{roleId}
          </if>
          <if test="menuId != null  and menuId != '' ">
              and b.menu_id= #{menuId}
          </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <select id="getAllByPage" resultType="SysRoleMenu">
        select b.id,b.role_id,b.menu_id
        from sys_role_menu b
        <where>
            <if test="id != null  and id != '' ">
                and b.id= #{id}
            </if>
            <if test="roleId != null  and roleId != '' ">
                and b.role_id= #{roleId}
            </if>
            <if test="menuId != null  and menuId != '' ">
                and b.menu_id= #{menuId}
            </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <insert id="insert" parameterType="SysRoleMenu">
        INSERT INTO sys_role_menu (id,role_id,menu_id)
        VALUES (#{id},#{roleId},#{menuId});
    </insert>

    <update id="update" parameterType="SysRoleMenu">
        update sys_role_menu
        <set>
            <if test="id != null  and id != '' ">
                id= #{id},
            </if>
            <if test="roleId != null  and roleId != '' ">
                role_id= #{roleId},
            </if>
            <if test="menuId != null  and menuId != '' ">
                menu_id= #{menuId},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from sys_role_menu where id=#{id}
    </delete>

    <delete id="deleteByRoleId" parameterType="java.lang.String">
        delete from sys_role_menu where role_id=#{roleId}
    </delete>

    <select id="queryRoleId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from sys_role_menu where role_id=#{id}
    </select>


</mapper>
